@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Titillium+Web&display=swap");
.color_blue {
  color: #2c82c9;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Titillium Web", sans-serif;
  position: relative;
  min-height: 100%;
  padding-bottom: 3%;
}

p {
  margin: 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 790px) {
  h1 {
    padding: 5%;
  }
}

h2 {
  text-align: center;
  color: rgba(17, 17, 17, 0.4);
  font-size: 30px;
  text-transform: uppercase;
}

.mid-block {
  display: flex;
}
.mid-block h1 {
  text-align: center;
  font-size: 25px;
  color: rgba(17, 17, 17, 0.4);
}
.mid-block .col-md-6 {
  padding: 0;
}

.progress {
  margin: 5% 5%;
  height: auto;
}

.progress-bar {
  background-color: #f04c1e;
  width: 0;
  text-align: left;
  animation: progress 1.5s ease-in-out forwards;
}
.progress-bar span {
  font-size: 20px;
  margin-left: 1rem;
  line-height: 2;
}

@keyframes progress {
  from {
    padding-right: 0;
  }
  to {
    padding-right: auto;
  }
}
.block_text h1 {
  color: black;
}

.tabs-wrapper {
  margin: 5% 10% 5% 10%;
}

.tabs-wrapper input[type=radio] {
  display: none;
}

.tabs-wrapper label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: black;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: white;
  text-align: center;
  line-height: 3em;
}

.tabs-wrapper label:first-child {
  margin-left: 1%;
}

.tabs-wrapper label:hover {
  background: #2c82c9;
  color: white;
  /*@include transform (translate(0,-0.2em));*/
}

@media screen and (max-width: 1600px) {
  .tabs-wrapper label {
    width: 15%;
  }
}
@media screen and (max-width: 900px) {
  .tabs-wrapper label {
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  .tabs-wrapper label {
    width: 100%;
    display: block;
    border-bottom: 2px solid #4D4C47;
    border-radius: 0;
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .tabs-wrapper {
    margin: 0 0 5% 0;
  }
}
#tab1:checked + label, #tab2:checked + label, #tab3:checked + label {
  background: #2c82c9;
  color: white;
}

.tab-body {
  position: relative;
  display: none;
  padding: 2%;
}

.tab-body-wrapper {
  background: white;
  border-top: rgba(17, 17, 17, 0.4) 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: show;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0.2s;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: show;
  -moz-animation-fill-mode: forwards;
  -o-animation-delay: 0.2s;
  -o-animation-duration: 1.5s;
  -o-animation-name: show;
  -o-animation-fill-mode: forwards;
  animation-delay: 0.2s;
  animation-duration: 1.5s;
  animation-name: show;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 600px) {
  .tab-body-wrapper {
    border: none;
    border-radius: 0;
  }
}
#tab1:checked ~ .tab-body-wrapper #tab-body-1, #tab2:checked ~ .tab-body-wrapper #tab-body-2, #tab3:checked ~ .tab-body-wrapper #tab-body-3 {
  position: relative;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: content-slide-top;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0.1s;
  -moz-animation-duration: 1s;
  -moz-animation-name: content-slide-top;
  -moz-animation-fill-mode: forwards;
  -o-animation-delay: 0.1s;
  -o-animation-duration: 1s;
  -o-animation-name: content-slide-top;
  -o-animation-fill-mode: forwards;
  animation-delay: 0.1s;
  animation-duration: 1s;
  animation-name: content-slide-top;
  animation-fill-mode: forwards;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  display: block;
}

/*# sourceMappingURL=competence.css.map */
