@import "global.scss";

        h1{
            text-align: center;
            text-transform: uppercase;
            @media screen and (max-width: 790px){
			padding: 5%;
		}	
        
        }
		
		h2{  
            text-align: center;
            color:$gris_text_color;
			font-size: 30px;
            text-transform: uppercase;

		}

    
.mid-block{
    display: flex;
    h1{
        text-align: center;
        font-size: 25px;
        color: $gris_text_color;
        
    }
    .col-md-6{
        padding: 0;
    }
}

.progress{
    margin: 5% 5%;
    height: auto;
}

.progress-bar{
    background-color: $orange_color;
    width: 0;
    text-align: left;
    animation: progress 2s ease-out forwards;
    span{
        font-size: 20px;
        margin-left: 1rem;
        line-height: 2;
        @media screen and (max-width: 790px){
             font-size: 14px;
             color: black;
        }   
    }
}

@keyframes progress {
  from {
    padding-right: 0;
  }
  to {
    padding-right: auto;
  }
} 

.block_text{
    @media screen and (max-width: 790px){
             padding-bottom: 8%;
    }
   
    h1{

        color: black;
    }
}


.tabs-wrapper {
  margin: 5% 10% 5% 10%;
   @media screen and (max-width: 790px){
        padding-top: 10%;
    }

}
.tabs-wrapper input[type=radio] {
  display: none;
}
.tabs-wrapper label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: black;
  width:20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: white;
  text-align: center;
  line-height: 3em;

}

.tabs-wrapper label:first-child{
    margin-left:1%;

}

.tabs-wrapper label:hover {
  background: $blue_color;
  color:white;
  /*@include transform (translate(0,-0.2em));*/
}
@media screen and (max-width: 1600px) {
  .tabs-wrapper label {
    width: 15%;
  }
}
@media screen and (max-width: 900px) {
  .tabs-wrapper label {
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  .tabs-wrapper label {
    width: 100%;
    display: block;
    border-bottom: 2px solid #4D4C47;
    border-radius: 0;
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .tabs-wrapper {
    margin: 0 0 5% 0;
  }

}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label{
  background: $blue_color;
  color: white;
}

.tab-body {
  position: relative;
  display: none;
  padding: 2%;
}

.tab-body-wrapper {
  background: white;
  border-top: $gris_text_color 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: show;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0.2s;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: show;
  -moz-animation-fill-mode: forwards;
  -o-animation-delay: 0.2s;
  -o-animation-duration: 1.5s;
  -o-animation-name: show;
  -o-animation-fill-mode: forwards;
  animation-delay: 0.2s;
  animation-duration: 1.5s;
  animation-name: show;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 600px) {
  .tab-body-wrapper {
    border: none;
    border-radius: 0;
  }
}

#tab1:checked ~ .tab-body-wrapper #tab-body-1, #tab2:checked ~ .tab-body-wrapper #tab-body-2, #tab3:checked ~ .tab-body-wrapper #tab-body-3{
  position: relative;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: content-slide-top;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0.1s;
  -moz-animation-duration: 1s;
  -moz-animation-name: content-slide-top;
  -moz-animation-fill-mode: forwards;
  -o-animation-delay: 0.1s;
  -o-animation-duration: 1s;
  -o-animation-name: content-slide-top;
  -o-animation-fill-mode: forwards;
  animation-delay: 0.1s;
  animation-duration: 1s;
  animation-name: content-slide-top;
  animation-fill-mode: forwards;
  @include transition(opacity, 1s);
  display: block;
}

