@import "global.scss";

.navbar{
	width: 100%;
	padding: 0% 10%;
	background-color: white;


	.navbar-brand{
		font-family: 'Permanent Marker', cursive;
		font-size: 30px;
	}

	a{
		color: $black_color;
		text-transform: none;
		text-transform: uppercase;
		text-align: center;
	}

	ul{
		width: 100%;

		li{
			height: 100%;
			padding: 1% 0%;
			cursor: pointer;
			border-top: 2px solid white;
			@include transition(all, 0.5s);

			@media screen and (max-width: 790px){
				margin: 0 !important;
				border-top:none;
				border-bottom: 2px solid white;
			}	
		}
		li:hover{
			border-top: 2px solid $blue_color;
			@media screen and (max-width: 790px){
				border-top:none;
				border-bottom: 2px solid $blue_color;
			}	
		}
		li:hover a{
			color: $blue_color;
		}

	}
	
}
.active-border{
	a{
		color: $blue_color !important;
	}
}

.navbar-toggler{
	padding-top: 2%;
	.fas .fa-caret-down{
		color: black;
		font-size: 18px;
	}
}
